---
layout: layouts/home.njk
title: Archive
url: posts
menu:
  visible: true
  order: 1
---

<h1>Archive</h1>

{% set postslist = search.pages("type=posts") %}
{% include "templates/postslist.njk" %}
