{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ site.title }}",
  "home_page_url": "{{ '' | url(true) }}",
  "feed_url": "{{ url | url(true) }}",
  "description": "{{ site.description }}",
  "author": {
    "name": "{{ site.author.name }}",
    "url": "{{ site.author.url }}"
  },
  "items": [
    {%- for post in search.pages("post") | reverse %}
    {
      "id": "{{ post.data.url | url(true) }}",
      "url": "{{ post.data.url | url(true) }}",
      "title": "{{ post.data.title }}",
      "content_html": {{ post.data.content | md | njk | dump | safe }},
      "date_published": "{{ post.data.date | date("ATOM") }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
