.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
  column-gap: 2rem;
  row-gap: 1rem;

  & a {
    display: block;

    &:not(:hover) {
      text-decoration: none;
    }
  }
}

.navbar-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;

  & [aria-current="page"] {
    font-weight: bold;
    text-decoration: underline;
  }
}
.navbar-search {
  flex-grow: 1;
  max-width: 800px;
  margin-left: auto;
}

#search {
  & .pagefind-ui__drawer {
    margin-top: 2px;
    position: absolute;
    background: var(--white);
    padding: 0 2rem 1rem;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    width: 100%;
    box-sizing: border-box;
  }
  & .pagefind-ui__message {
    margin: 0;
    padding: 0;
  }
  & .pagefind-ui__result-link {
    color: var(--blue);
  }
  & .pagefind-ui__result-excerpt {
    color: var(--darkgray);
  }
}