:root {
  --red: #c04;
  --lightgray: #e6e6e6;
  --darkgray: #0d1117;
  --blue: #135;
  --white: #fff;
  --font-family: -apple-system, system-ui, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--darkgray);
  background-color: var(--white);

  /** Pagefind variables */
  --pagefind-ui-scale: .8;
  --pagefind-ui-primary: var(--darkgray);
  --pagefind-ui-text: var(--darkgray);
  --pagefind-ui-background: var(--white);
  --pagefind-ui-border: var(--lightgray);
  --pagefind-ui-tag: var(--lightgray);
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 6px;
  --pagefind-ui-image-border-radius: 6px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: var(--font-family);
}

main {
  padding: 5vh 5vw;

  & > :first-child {
    margin-top: 0;
  }
}

a {
  color: var(--blue);
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.5em;
}

table {
  margin: 1em 0;

  & td,
  & th {
    padding-right: 1em;
  }
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
  font-size: 1rem;
}

hr {
  border: 0;
  border-top: solid 2px var(--lightgray);
  margin: 5vh 0;
}