.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 1;
  padding: 0.2em 0.5em;
  margin-right: 0.8em;
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em;
  text-decoration: none;

  &.is-big {
    font-size: 1rem;
  }
}
