---
config_file: /admin/config.yml
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <link href="{{ config_file }}" type="text/yaml" rel="cms-config-url">

  <!-- Include the script that builds the page and powers Netlify CMS -->
  <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>

  <!-- Include Netlify Identity for authentication -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</body>
</html>