<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="navbar-home">
        <strong>{{ site.title }}</strong>
      </a>

      <ul class="navbar-links">
      {%- for entry in search.pages("menu.visible=true", "menu.order") %}
        <li>
          <a href="{{ entry.data.url }}"{% if entry.data.url == url %} aria-current="page"{% endif %}>
            {{ entry.data.menu.title or entry.data.title }}
          </a>
        </li>
      {%- endfor %}
      </ul>

      <div class="navbar-search">
        <oom-search label="Search" placeholder="Post title or tag" src="{{ '/search.json' | url }}"></oom-search>
      </div>
    </nav>

    <main class="{{ bodyClass }}">
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ url }} -->
  </body>
</html>
