---
layout: layouts/base.njk
bodyClass: body-home
---
<!-- Delete this message -->
<div class="warning">
  <ol>
    <li>Edit the <code>_data/site.yml</code> with your blog’s information.</li>
    <li>(Optional) Edit <code>_config.ts</code> with your <a href="https://lumeland.github.io/getting-started/config-file/">configuration preferences</a>.</li>
    <li>Delete this message from <code>_includes/layouts/home.njk</code>.</li>
  </ol>
  <p><em>This is a <a href="https://lumeland.github.io/">Lume project</a> "inspired" by the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
