---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{{ content | safe }}

<hr>
<ul>
  {%- set nextPost = search.nextPage(url, "posts") %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.data.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = search.previousPage(url, "posts") %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.data.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
