---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>Tagged “{{ tag }}”</h1>

{% set postslist = search.pages(tag) %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>